.ngx-charts text { fill: #fff!important; }

::ng-deep .ngx-charts { 
    text{
        fill: #fff!important; 
    }
}

::ng-deep .chart-legend .legend-labels{
    overflow: auto!important;
}

#pie-chart-parent { display: grid; }