.container__balance{
    min-height: 100vh;
    padding-top: 2rem;
}

.chart__container{
  padding: 2rem 0;
  min-height: 450px;
}


.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    padding: 5px 0;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .mat-mdc-row .mat-mdc-cell:hover {
    border: 0;
    opacity: 0.5;
  }

  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }