<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" #table matSort
        (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by descripcion" class="pe-1"> Descripcion </th>
            <td class="border-0 py-1 pe-1" mat-cell *matCellDef="let registro">
                <div class="d-flex">
                    <button mat-fab color="primary"
                        [ngStyle]="{backgroundColor: (registro.registros[0]?.categoriaGasto?.color), color: '#000', opacity: 0.7}"
                        aria-label="Categoria gasto" class="me-2">
                        <mat-icon>{{registro.registros[0]?.categoriaGasto?.icono}}</mat-icon>
                    </button>
                    <div class="d-flex flex-column">
                        <p class="m-0 text-secondary"><span class="text-light">{{registro.descripcion}}</span> ({{registro.registros[0]?.fecha.slice(0, 10)}})</p>
                        <p class="m-0 text-info">{{registro.registros[0]?.cuenta.nombre}}</p>
                        <p class="text-warning">$ {{registro.valorFinal.toLocaleString("es-AR")}}  <span class="text-secondary"> ({{registro.cuotas}} x ${{registro.registros[0]?.valor.toLocaleString("es-AR")}})</span>  </p>
                        <!-- <p class="m-0 text-warning" *ngIf="!registro.pagado && registro.fechaPago == undefined">$ {{registro.valor.toLocaleString("es-AR")}}</p> -->
                        <!-- <p class="m-0 text-success" *ngIf="registro.pagado && registro.fechaPago != undefined">$ {{registro.valor.toLocaleString("es-AR")}} &#10004;</p> -->
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="cuotas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cuotas" class="px-0"> Cuotas </th>
            <td class="border-0 py-1 px-1" mat-cell *matCellDef="let registro">
                {{registro.cuotas}}
            </td>
        </ng-container>

        <ng-container matColumnDef="valorFinal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valor" class="px-0"> Valor </th>
            <td class="border-0 py-1 px-0" mat-cell *matCellDef="let registro">
                <span class="text-warning">$ {{registro.registros[0]?.valor.toLocaleString("es-AR")}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="registros">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by registros" class="px-0"> Detalle </th>
            <td class="border-0 py-1 px-0" mat-cell *matCellDef="let registro">
                <button mat-stroked-button
                        [matTooltip]="'Categoría: ' + registro.registros[0].categoriaGastoNombre + 
                        '\nCuenta: ' + registro.registros[0].cuenta!.nombre"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                    Detalle
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="nombreColumnas" class="header"></tr>
        <tr class="fila" mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="pageSize || 10" showFirstLastButtons aria-label="Select page" *ngIf="data.length > 0">
    </mat-paginator>
</div>
