<div class="grilla__cuotas overflow-x-scroll p-2 p-sm-0">
    <section class="filters__container row">
        <div class="col-12">
            <label>Filtros:</label>
        </div>
        <mat-form-field class="col-12 col-md-6 m-0">
            <mat-label>Categorías</mat-label>
            <mat-select [(value)]="selectedCategoria" (selectionChange)="selectCategoria($event.value)">
                <mat-option value="0">Todas las categorias</mat-option>
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 col-md-6 m-0">
            <mat-label>Cuentas</mat-label>
            <mat-select [(value)]="selectedCuenta" (selectionChange)="selectCuenta($event.value)">
                <mat-option value="0">Todas las cuentas</mat-option>
                <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{cuenta.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table overflow-x-scroll" #table matSort
        (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by descripcion" class="pe-1"> Descripcion </th>
            <td class="border-0 py-1 pe-1" mat-cell *matCellDef="let registro">
                <div class="d-flex">
                    <button mat-fab color="primary"
                        [ngStyle]="{backgroundColor: (registro.registros[0]?.categoriaGasto?.color), color: '#000', opacity: 0.7}"
                        aria-label="Categoria gasto" class="me-2 d-none d-md-block"
                        >
                        <mat-icon>{{registro.registros[0]?.categoriaGasto?.icono}}</mat-icon>
                    </button>
                    <div class="d-flex flex-column">
                        <p class="m-0 text-secondary"><span class="text-light">{{registro.descripcion}}</span> ({{registro.registros[0]?.fecha.slice(0, 10)}})</p>
                        <p class="m-0 text-info">{{registro.registros[0]?.cuenta.nombre}}</p>
                        <p class="text-warning">$ {{registro.valorFinal.toLocaleString("es-AR")}}  <span class="text-secondary"> ({{registro.cuotas}} x ${{registro.registros[0]?.valor.toLocaleString("es-AR")}})</span>  </p>
                        <!-- <p class="m-0 text-warning" *ngIf="!registro.pagado && registro.fechaPago == undefined">$ {{registro.valor.toLocaleString("es-AR")}}</p> -->
                        <!-- <p class="m-0 text-success" *ngIf="registro.pagado && registro.fechaPago != undefined">$ {{registro.valor.toLocaleString("es-AR")}} &#10004;</p> -->
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="cuotas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cuotas" class="d-none d-lg-table-cell px-0"> Cuotas </th>
            <td class="d-none d-lg-table-cell border-0 py-1 px-1" mat-cell *matCellDef="let registro">
                {{registro.cuotas}}
            </td>
        </ng-container>

        <ng-container matColumnDef="valorFinal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valor" class="d-none d-lg-table-cell px-0"> Valor </th>
            <td class="d-none d-lg-table-cell border-0 py-1 px-0" mat-cell *matCellDef="let registro">
                <span class="text-warning">$ {{registro.registros[0]?.valor.toLocaleString("es-AR")}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="registros">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by registros" class="px-0"> Detalle </th>
            <td class="d-flex border-0 py-1 px-0 h-100 align-items-center justify-content-center flex-column flex-sm-row gap-2" mat-cell *matCellDef="let registro">
                <button mat-mini-fab color="white" class="bg-secondary m-0" (click)="getDetalle(registro)"
                        [matTooltip]="'Categoría: ' + registro.registros[0].categoriaGastoNombre + 
                        '\nCuenta: ' + registro.registros[0].cuenta!.nombre"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon class="justify-center m-0">search</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="m-0" matTooltip="Editar registro" (click)="updateRegistro(registro)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombreColumnas" class="header"></tr>
        <tr class="fila" mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="pageSize || 10" showFirstLastButtons aria-label="Select page" *ngIf="length > 0">
    </mat-paginator>
    <footer class="d-flex justify-content-end my-2">
        <app-export-excel [data]="_data"></app-export-excel>
    </footer>
</div>
