<article class="d-flex justify-content-between shadow rounded-3 px-3 py-2 card__grilla {{cuenta.habilitado ? 'bg-dark' : ''}}" >
    <ul class="d-flex flex-column px-0 mb-0 cuenta__list">
        <li class="m-0">{{cuenta.nombre}}</li>
        <li class="text-success">{{cuenta.tipoCuentaNombre}}</li>
        <li class="m-0"><span class="text-secondary" *ngIf="cuenta.idTarjeta">XXXX-XXXX-XXXX-</span>{{cuenta.tarjetaNumero || " - " }}</li>
    </ul>
    <div class="d-flex gap-2">
        <button mat-fab color="primary" class="shadow bg-dark" *ngIf="!cuenta.habilitado" (click)="toggleCuenta()">
            <mat-icon>visibility</mat-icon>
        </button>
        <button mat-fab color="accent" class="shadow" *ngIf="cuenta.habilitado" (click)="toggleCuenta()">
            <mat-icon>visibility_off</mat-icon>
        </button>
        <button mat-fab color="primary" class="shadow" (click)="openCuenta()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</article>
