<form [formGroup]="formGroup" class="form-horizontal row">
    <div class="col-md-12">
        <div>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label class="">Descripcion</mat-label>
                <input formControlName="descripcion" matInput type="text" placeholder=""
                    [(ngModel)]="datos.descripcion">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="idCategoriaIngreso" [(ngModel)]="datos.idCategoriaIngreso">
                    <mat-option *ngFor="let categoria of listaCategoriaIngreso" [value]="categoria.id"><mat-icon>{{categoria.icono}}</mat-icon>{{categoria.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>       
        <div>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Fecha</mat-label>
                <input matInput placeholder="DD/MM/AAAA" formControlName="fecha" [matDatepicker]="dp" [(ngModel)]="datos.fecha">
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label class="">Valor</mat-label>
                <input formControlName="valor" matInput type="number" class="example-right-align" placeholder="" [(ngModel)]="datos.valor">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider><br>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button type="button" mat-stroked-button color="warn" class="rounded-1">Cancelar</button>
        <button type="button" mat-stroked-button color="primary" class="rounded-1" [disabled]="!formGroup.valid"
            (click)="save()">Guardar</button>
    </div>
</form>