.material-tooltip {
    white-space: pre-line !important;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}

::ng-deep .matTooltip {
    white-space: pre-line !important;
}

.cdk-overlay-container {
    white-space: pre-line !important;
}

::ng-deep .cdk-overlay-container {
    white-space: pre-line !important;
}

::ng-deep .mat-mdc-dialog-surface{
    padding: 1rem!important;
}

@media screen and (max-width: 480px) {
    .mat-mdc-tab-group{
        padding: 0!important;
    }

    ::ng-deep .mat-mdc-dialog-surface{
        padding: 0.5rem!important;
    }
}