<app-spinner *ngIf="spinnerService.blockUI | async"></app-spinner>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="basic" class="example-toolbar header__toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-app-name d-none d-md-block" routerLink="inicio" style="cursor: pointer;">Gestor Gastos</span>
    <img class="icono" src="/assets/favicon.png" alt="Icono cash" routerLink="inicio">
    <span class="spacer"></span>

    <div class="d-flex flex-row me-3 gap-2" *ngIf="isAdmin">
      <button mat-menu-item routerLink="balance" class="justify-content-center p-1" matTooltip="Balance">
        <mat-icon class="nav-icon p-0 m-0 justify-center">balance</mat-icon>
      </button>
      <button mat-menu-item routerLink="registrar-ingresos" class="justify-content-center p-1" matTooltip="Ingresos">
        <mat-icon class="nav-icon p-0 m-0 justify-center">account_balance</mat-icon>
      </button>
      <button mat-menu-item routerLink="registrar-gastos" class="justify-content-center p-1" matTooltip="Gastos">
        <mat-icon class="nav-icon p-0 m-0 justify-center">paid</mat-icon>
      </button>
    </div>

    <button mat-icon-button color="primary" class="nav__login" [matMenuTriggerFor]="login" *ngIf="!isAdmin">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #login="matMenu">
      <button mat-menu-item (click)="toggleLogin()">
        <mat-icon>login</mat-icon>Iniciar Sesión
      </button>
      <button mat-menu-item>
        <mat-icon>person_add</mat-icon>Registrarse
      </button>
    </mat-menu>

    <button mat-icon-button color="primary" class="nav__login-danger" [matMenuTriggerFor]="account" *ngIf="isAdmin">
      <mat-icon>person</mat-icon>
    </button>

    <mat-menu #account="matMenu">
      <a mat-menu-item href="perfil">
        <mat-icon>account_circle</mat-icon>Mi Perfil
      </a>
      <button mat-menu-item (click)="toggleLogin()">
        <mat-icon>logout</mat-icon>Cerrar Sesión
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 48 : 0">
    <mat-sidenav class="sidenav container__sidenav bg-dark" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="48">
      <mat-nav-list class="nav-list">
        <div class="center rounded-1" *ngFor="let nav of fillerNav">
          <a class="nav-span rounded-1" mat-list-item routerLink={{nav.routerlink}} (click)="snav.toggle()" *ngIf="mobileQuery.matches">
            <mat-icon class="nav-icon">{{nav.icon}}</mat-icon> {{nav.nombre}}
          </a>
          <a class="nav-span rounded-1" mat-list-item routerLink={{nav.routerlink}} *ngIf="!mobileQuery.matches">
            <mat-icon class="nav-icon">{{nav.icon}}</mat-icon> {{nav.nombre}}
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <div class="spacer"></div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>