<div id="container__balance" class="parallax-container container__balance">
    <app-header-banner title="Balance de Gastos" icon="balance"></app-header-banner>
    <div class="section__balance">
        <div class="container">
            <div class="d-flex justify-content-center gap-3">
                <app-form-periodo (onChange)="getPeriodo($event)"></app-form-periodo>
            </div>
            <div class="container d-flex justify-content-center text-info text-center"
                *ngIf="(listaRegistros.length == 0 && listaIngresos.length == 0)">
                <h6>No se encontraron resultados</h6>
            </div>

            <div class="row" *ngIf="!(listaRegistros.length == 0 && listaIngresos.length == 0)">
                <!-- Chart Bar Horizontal -->
                <div class="col-12 col-xl-4 p-1">
                    <div class="chart__container bg-dark">
                        <mat-card-header class="d-flex text-center justify-content-center">
                            <h6 class="pb-2 px-1">Gastos por categoría <span class="text-info">({{fechaPeriodo}})</span>
                            </h6>
                        </mat-card-header>
                        <app-chart-bar-horizontal-balance class="d-flex justify-content-center gap-2"
                            [dataRegistros]="listaRegistros" [dataIngresos]="listaIngresos"
                            [hidden]="listaRegistros.length==0 && listaIngresos.length==0">
                        </app-chart-bar-horizontal-balance>
                    </div>
                </div>

                <!-- Chart Bar Vertical -->
                <div class="col-12 col-xl-4 p-1">
                    <div class="chart__container bg-dark">
                        <mat-card-header class="d-flex text-center justify-content-center">
                            <h6 class="pb-2 px-1">Gastos por cuenta <span class="text-info">({{fechaPeriodo}})</span>
                            </h6>
                        </mat-card-header>
                        <app-chart-bar-vertical-balance class="d-flex justify-content-center gap-2"
                            [dataRegistros]="listaRegistros" [dataIngresos]="listaIngresos"
                            [hidden]="listaRegistros.length==0 && listaIngresos.length==0">
                        </app-chart-bar-vertical-balance>
                    </div>
                </div>

                <!-- Chart Pie -->
                <div class="col-12 col-xl-4 p-1">
                    <div class="chart__container bg-dark">
                        <mat-card-header class="d-flex text-center justify-content-center">
                            <h6 class="pb-2 px-1">Balance Ingresos/Egresos <span
                                    class="text-info">({{fechaPeriodo}})</span>
                            </h6>
                        </mat-card-header>
                        <app-chart-pie-balance class="d-flex justify-content-center align-items-start h-100 gap-2"
                            [dataRegistros]="listaRegistros" [dataIngresos]="listaIngresos"
                            [hidden]="listaRegistros.length==0 && listaIngresos.length==0">
                        </app-chart-pie-balance>
                    </div>
                </div>

                <!-- Grilla Gastos -->
                <div class="col-12 col-md-6 grilla mt-2">
                    <h6 class="text-light mt-3 text-center text-md-start">Gastos</h6>
                    <div class="d-flex justify-content-center mb-2">
                        <button mat-stroked-button class="rounded-3 w-100" color="" (click)="addRegistro()">
                            <mat-icon>add</mat-icon>Agregar gasto
                        </button>
                    </div>
                    <app-grilla-card-registro [data]="listaRegistros"></app-grilla-card-registro>
                    <p class="text-center py-3" *ngIf="listaRegistros.length == 0">No se encontraron gastos</p>
                </div>

                <!-- Grilla Ingresos -->
                <div class="col-12 col-md-6 grilla mt-2">
                    <mat-divider class="d-block d-md-none"></mat-divider>
                    <h6 class="text-light mt-3 text-center text-md-start">Ingresos</h6>
                    <div class="d-flex justify-content-center mb-2 ">
                        <button mat-stroked-button class="rounded-3 w-100" color="" (click)="addIngreso()">
                            <mat-icon>add</mat-icon>Agregar ingreso
                        </button>
                    </div>
                    <app-grilla-card-ingreso [data]="listaIngresos"></app-grilla-card-ingreso>
                    <p class="text-center py-3" *ngIf="listaIngresos.length == 0">No se encontraron ingresos</p>
                </div>

            </div>
        </div>
    </div>