<form [formGroup]="formGroup" class="form-horizontal row">
    <div class="col-md-12">
        <div>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label class="label__tarjeta">Numero</mat-label>
                <input formControlName="numero" matInput type="text" placeholder="" [(ngModel)]="datos.numero"
                    maxlength="4">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Fecha Vencimiento</mat-label>
                <input matInput placeholder="MM/AA" [formControl]="date" [matDatepicker]="dp">
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                    panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-add">
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Banco</mat-label>
                <mat-select formControlName="banco" [(ngModel)]="datos.idBanco">
                    <mat-option *ngFor="let banco of listaBancos" [value]="banco.id">{{banco.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>           
        </div>
        <div class="form-add">
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Tipo Tarjeta</mat-label>
                <mat-select formControlName="tipotarjeta" [(ngModel)]="datos.idTipoTarjeta">
                    <mat-option *ngFor="let tipoTarjeta of listaTiposTarjeta"
                        [value]="tipoTarjeta.id">{{tipoTarjeta.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>            
        </div>
        <section color="primary" appearance="fill">
            <mat-checkbox matInput class="example-margin" color="primary" formControlName="habilitado"
                [(ngModel)]="datos.habilitado">Habilitado</mat-checkbox>
        </section>

    </div>
    <mat-divider></mat-divider><br>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button type="button" mat-stroked-button color="primary" class="rounded-1" [disabled]="!formGroup.valid"
            (click)="save()">Guardar</button>
        <button type="button" mat-stroked-button color="warn" class="rounded-1" (click)="cancel()">Cancelar</button>
    </div>
</form>

