<header _ngcontent-ng-c330766891="" focusonnavigation="" aria-label="Get started" id="homepage-header"
    class="docs-header-background" tabindex="-1" style="outline: none;">
    <div _ngcontent-ng-c330766891="" class="docs-header-section">
        <div _ngcontent-ng-c330766891="" class="d-flex justify-content-center docs-header-headline">
            <mat-icon class="header__icon nav-icon p-0 m-0 justify-content-center d-none d-sm-flex mx-2" color="secondary">{{icon}}</mat-icon>
            <h3 _ngcontent-ng-c330766891="" class="header__title mat-h1">{{title}}</h3>
            <mat-icon class="header__icon nav-icon p-0 m-0 justify-content-center d-none d-sm-flex mx-2" color="secondary">{{icon}}</mat-icon>
        </div>
    </div>
</header>