.docs-header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 8rem;
    background: linear-gradient(180deg, rgba(0, 79, 79, 1) 100%, rgba(21, 149, 149, 0.9) 100%);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.docs-header-background h3 {
    margin-bottom: 0;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.docs-header-headline {
    height: 100%;
}

.header__icon{
    font-size: 45px;
    width: 48px;
    height: 45px;    
    background: -webkit-linear-gradient(#111111, #2e2e2e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__title{
    text-shadow: 1px 1px 2px #2e2e2e;
    background: -webkit-linear-gradient(#FFFFFF, #cecece);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}