<app-header-banner title="Registrar Gastos"></app-header-banner>

<!-- <div class="d-flex justify-content-center gap-3">
    <app-form-periodo (onChange)="getPeriodo($event)"></app-form-periodo>
</div> -->

<section class="container-fluid p-2 my-2">
    <mat-tab-group class="bg-dark p-2">

        <mat-tab label="Gastos" (selectedTabChange)="getRegistros(periodo)">
            <div class="row">
                <div class="col-12 col-md-6 h-100">
                    <div class="container d-flex justify-content-center text-info py-5">                        
                        <app-abm-registro
                        [listaEmpresas]="listaEmpresas"
                        [listaCuentas]="listaCuentas"
                        [listaCategoriasGasto]="listaCategoriaGasto"
                        ></app-abm-registro>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-5">
                    <div class="d-flex justify-content-center">
                        <h6 class="text-info">Historial</h6>
                    </div>
                    <div class="container-fluid">
                        <app-form-periodo (onChange)="getPeriodo($event)"></app-form-periodo>
                    </div>

                    <app-grilla-card-registro [data]="listaRegistros" *ngIf="!(listaRegistros.length == 0)" [pageSize]=5>
                    </app-grilla-card-registro>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Suscripción" (selectedTabChange)="getSuscripciones(periodo)">
            <div class="row">
                <div class="col-12 col-md-6 h-100">                   
                    <div class="container d-flex justify-content-center text-info py-5">                        
                        <app-abm-suscripcion
                        [listaEmpresas]="listaEmpresas"
                        [listaCuentas]="listaCuentas"
                        [listaCategoriasGasto]="listaCategoriaGasto"
                        ></app-abm-suscripcion>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-5">
                    <div class="d-flex justify-content-center">
                        <h6 class="text-info">Historial</h6>
                    </div>
                    <div class="container-fluid">
                        <app-form-periodo (onChange)="getPeriodo($event)"></app-form-periodo>
                    </div>

                    <app-grilla-suscripciones [data]="listaSuscripciones" *ngIf="!(listaSuscripciones.length == 0)" [pageSize]=5>
                    </app-grilla-suscripciones>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Cuotas" (selectedTabChange)="getRegistrosVinculados(periodo)">
            <div class="row">
                <div class="col-12 col-md-6 h-100">                    
                    <div class="container d-flex justify-content-center text-info py-5">                        
                        <app-abm-registro-vinculado
                        [listaEmpresas]="listaEmpresas"
                        [listaCuentas]="listaCuentas"
                        [listaCategoriasGasto]="listaCategoriaGasto"
                        ></app-abm-registro-vinculado>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-5">
                    <div class="d-flex justify-content-center">
                        <h6 class="text-info">Historial</h6>
                    </div>
                    <div class="container-fluid">
                        <app-form-periodo (onChange)="getPeriodo($event)"></app-form-periodo>
                    </div>

                    <app-grilla-registros-vinculados [data]="listaRegistrosVinculados" *ngIf="!(listaRegistrosVinculados.length == 0)" [pageSize]=5>
                    </app-grilla-registros-vinculados>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</section>

<section class="container">
    <h5 class="text-center py-3 border bg-dark mb-2">Categoria Gastos</h5>
    <div class="d-flex align-content-start justify-content-center flex-wrap pt-5">
        <div class="d-flex flex-column text-center align-items-center w-25 mb-2"
            *ngFor="let cat of listaCategoriaGasto">
            <button mat-fab color="primary" [ngStyle]="{backgroundColor: cat.color, color: '#000', opacity: 0.7}"
                aria-label="Categoria gasto" class="me-2">
                <mat-icon>{{cat.icono}}</mat-icon>
            </button>
            {{cat.nombre}}
        </div>
    </div>
</section>
<br>
<section class="container">
    <h5 class="text-center py-3 border bg-dark mb-2">Empresas</h5>
    <div class="d-flex align-content-start justify-content-center flex-wrap pt-5">
        <div class="d-flex flex-column text-center align-items-center w-25 mb-2" *ngFor="let item of listaEmpresas">
            {{item.nombre}}
        </div>
    </div>
</section>

<br>
<section class="container">
    <h5 class="text-center py-3 border bg-dark mb-2">Cuentas</h5>
    <div class="d-flex align-content-start justify-content-center flex-wrap pt-5">
        <div class="d-flex flex-column text-center align-items-center w-25 mb-2" *ngFor="let item of listaCuentas">
            {{item.nombre}}
        </div>
    </div>
</section>