<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" #table matSort
        (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gasto" class="h4"> Gastos </th>
            <td class="border-0 py-1" mat-cell *matCellDef="let registro">
                <app-card-registro [registro]="registro" id={{registro.id}}></app-card-registro>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="nombreColumnas" class="header"></tr>
        <tr class="fila" mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="pageSize || 10" showFirstLastButtons aria-label="Select page" *ngIf="_length > 0">
    </mat-paginator>
</div>