::ng-deep .mdc-tab {
    border: 1px solid rgb(200, 200, 200, 0.2) !important;    
}

::ng-deep .mdc-tab:focus {
    background-color: rgb(150, 150, 150, 0.5);
}

::ng-deep .mat-mdc-tab-body-content{
    overflow: hidden!important;
}


@media screen and (max-width: 360px) {
    ::ng-deep .mat-mdc-tab-group{
        padding: 0!important;
    }

    ::ng-deep td{
        font-size: 12px!important;
    }
}