<app-spinner *ngIf="spinnerService.blockUI | async"></app-spinner>
<div mat-dialog-content class="card-body">    
    <br>
    <div class="">
        <div class="title__center">
            <h3>{{title}}</h3>
         </div>
     </div>
    <div class="container">        
        <form [formGroup]="formGroup" class="form-horizontal row">
            <mat-divider></mat-divider><br>
            <div class="col-md-12">
            <!-- <p *ngIf="formGroup.controls['nombre'].hasError('required') && formGroup.controls['nombre'].touched" class="text-danger">El valor es requerido</p> -->
            <mat-form-field color="primary" appearance="fill" class="input__tarjeta">
                <!-- <label>Numero</label> -->
                <mat-label class="label__tarjeta">Numero</mat-label>
                <span matTextPrefix class="prefix__tarjeta">XXXX-XXXX-XXXX-&nbsp;</span>
                <input formControlName="numero" matInput type="text" placeholder="" [(ngModel)]="datos.numero" maxlength="4">
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Fecha Vencimiento</mat-label>
                <input matInput placeholder="MM/AA" [formControl]="date" [matDatepicker]="dp">
                <!-- <mat-hint>MM/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (monthSelected)="setMonthAndYear($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
                <!-- <input formControlName="fechaExpediente" matInput type="text" placeholder="" [(ngModel)]="datos.fechaExpediente"> -->
                
                <!-- <input matInput [matDatepicker]="dp" [formControl]="date"> -->
         
               
            </mat-form-field>
            <div class="form-add">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>Banco</mat-label>
                    <mat-select formControlName="banco"  [(ngModel)]="datos.idBanco">
                        <mat-option *ngFor="let banco of listaBancos" [value]="banco.id">{{banco.nombre}}</mat-option>
                    </mat-select>                
                </mat-form-field>
                <button matSuffix class="btn btn-outline-success add-button" (click)="openDialog('banco')"><mat-icon>add</mat-icon></button>
            </div>
            <div class="form-add">
                <mat-form-field color="primary" appearance="fill">
                    <mat-label>Tipo Tarjeta</mat-label>
                    <mat-select formControlName="tipotarjeta"  [(ngModel)]="datos.idTipoTarjeta">
                        <mat-option *ngFor="let tipoTarjeta of listaTiposTarjeta" [value]="tipoTarjeta.id">{{tipoTarjeta.nombre}}</mat-option>
                    </mat-select>                
                </mat-form-field>
                <button matSuffix class="btn btn-outline-success add-button" (click)="openDialog('tipotarjeta')"><mat-icon>add</mat-icon></button>
            </div>
            <section color="primary" appearance="fill">
                <mat-checkbox matInput class="example-margin" color="primary" formControlName="habilitado" [(ngModel)]="datos.habilitado">Habilitado</mat-checkbox>
            </section>
        
        </div> 
        <mat-divider></mat-divider><br>
    </form>  
    </div>   
</div>
<div mat-dialog-actions class="dialog-actions">
    <button type="button" mat-stroked-button color="primary" class="rounded-1"  [disabled]="!formGroup.valid" (click)="save()">Guardar</button>
    <button type="button" mat-stroked-button color="warn" class="rounded-1"  (click)="cancel()">Cancelar</button>
</div>

