.login__container {
  padding: 0 1rem;
}

::ng-deep input {
  background-color: transparent !important;
}

::ng-deep .mat-form-field-autofill-control {
  background-color: #000 !important;
  background: #000 !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #000 !important;
  background: #000 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #000 !important;
  background: #000 !important;
}

::ng-deep input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important;
}

::ng-deep .mat-mdc-dialog-surface {
  background-color: #004f4f !important;
}

@media screen and (max-width: 480px) {
  .login__container {
    padding: 0;
  }
}