<app-spinner *ngIf="spinnerService.blockUI | async"></app-spinner>
<div class="container-fluid py-3">
    <div class="py-2">
        <mat-card-title class="d-flex justify-content-center text-info py-3 m-3 bg-dark"><h6 class="m-0">Ingresar</h6></mat-card-title>
    </div>
    <div class="login__container">
        <form [formGroup]="formGroup" class="" (ngSubmit)="loginUser()">
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Usuario</mat-label>
                <input formControlName="Login" matInput type="text" placeholder="" [(ngModel)]="loginUsuario.Login">
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill" class="w-100">
                <mat-label>Contraseña</mat-label>
                <input formControlName="Password" matInput type="password" [(ngModel)]="loginUsuario.Password">
            </mat-form-field>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>
            <div class="d-flex justify-content-center my-3">
                <button type="submit" mat-stroked-button color="primary" class="rounded-1 bg-dark"
                    [disabled]="!formGroup.valid">Confirmar</button>
            </div>
        </form>
    </div>
</div>